#footer {
  background-color: var(--blue);
  color: white;
  padding: 1rem 0rem;
}
.home-shortcuts {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
.home-shortcuts div {
  border: 1px solid blue;
  background-color: var(--blue);
  color: white;
  padding: 1rem;
}
.home-shortcuts div h5 {
  font-weight: bold;
}
@media (min-width: 575.98px) {
  .home-shortcuts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 767.98px) {
  .home-shortcuts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 991.98px) {
}

@media (min-width: 1199.98px) {
}
